@for $i from 1 through 1000 {
  .min-w-#{$i}px {
    min-width: #{$i}px;
  }

  .w-#{$i}px {
    width: #{$i}px;
  }

  .min-h-#{$i}px {
    min-height: #{$i}px;
  }

  .h-#{$i}px {
    height: #{$i}px;
  }

  .fs#{$i}px {
    font-size: #{$i}px;
  }

  @if ($i <= 100) {
    .w-#{$i} {
      width: #{$i}#{"%"};
    }

    .min-w-#{$i} {
      min-width: #{$i}#{"%"};
    }

    .h-#{$i} {
      height: #{$i}#{"%"};
    }

    .min-h-#{$i} {
      min-height: #{$i}#{"%"};
    }
  }
}

.min-h-100vh {
  min-height: 100vh;
}
